.btnWrapper {
  button {
    margin-bottom: 0.2rem;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;
  }
}

.customTable {
  width: 100%;

  tr {
    th {
      width: 100%;
      white-space: nowrap;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }

    td {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 19vw;
      padding: 0 1rem;
      min-width: 100%;
      text-align: left;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;

  button {
    width: fit-content;
    padding: 0.3rem 0.6rem;
    margin: 0.8rem 0;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;

    &:first-child {
      margin-right: 0.5rem;
      padding: 0.3rem 0.8rem 0.3rem 0.6rem;
    }
  }
}


.buttonsWrapperSection {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}


.react-select-container {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;

  .react-select {
    padding: 0.15rem !important;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;
  }
}

.swal2-cancel {
  background-color: red !important;
  color: white !important;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.swal2-confirm {
  background-color: blue !important;
  color: white !important;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}


.customTableWrapper {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;

  thead {
    th {
      white-space: nowrap;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }
  }

  tr {
    td {
      padding: 0.4rem 1rem;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }
  }

  .sticky-last-column {
    position: sticky;
    right: 0;
    background: white;
    z-index: 2;
    width: 100%;
    min-width: 8vw;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    box-sizing: border-box;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;
  }

  .sticky-last-column-header {
    position: sticky;
    right: 0;
    z-index: 2;
    background: #e5e7eb;
    width: 100%;
    min-width: 8vw;
    border-bottom: 1px solid #cecece;
    box-sizing: border-box;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;

  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 40vh;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

th,
td {
  box-sizing: border-box;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.customButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.customButtonWrapper .blueButtons {
  background: #3b5998;
  color: white;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.ant-table {
  .ant-table-thead {
    tr {
      .ant-table-cell {
        background: #d1d5db;
        color: white;
        font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
        font-style: normal;
        color: black;
        padding: 10px 16px;
      }
    }
  }

  .ant-table-body {
    overflow: hidden;
    overflow-x: scroll;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;

    td {
      padding: 3px 16px !important;
    }
  }
}

.assignFormTable {
  .ant-table-tbody {
    .ant-table-cell {
      padding: 0.4rem 1rem !important;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }
  }
}

.redIcon {
  color: red !important;
}

/* Custom styles for SweetAlert2 buttons */
.confirm-btn {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.cancel-btn {
  background-color: #f0f0f0 !important;
  border-color: #dcdcdc !important;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.ant-modal input {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.ant-modal label {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.ant-modal .ant-modal-title {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
button {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #3b5998;
  color: white;
  padding: 0.3rem 1rem;
  width: 55px !important;
}

.headerButton:hover {
  background: #2d4373 !important;
}

.headerButton .ant-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination-item.ant-pagination-item-active {
  background-color: #3b5998;
  color: white;
}

.ant-pagination-item.ant-pagination-item-active:hover {
  background: #2d4373 !important;
  color: white !important;
}

.ant-pagination-item.ant-pagination-item-active:hover a {
  color: white !important;
}

.ant-pagination-item.ant-pagination-item-active a {
  color: white;
}

.tableDataWrapper {
  display: flex;
  justify-content: space-between;

  .formFilters {
    display: flex;
    gap: 5px;
  }
}

.customTableButtons:hover {
  color: white !important;
}

.customWidth {
  width: 7vw;
  height: 100%;
}

.customSearchButton {
  background: #3b5998 !important;
  color: white !important;
  border: none;

}

.customSearchButton:hover {
  background: #2d4373 !important;
  color: white !important;
  border: none;
}

.customRedButton {
  background: #DC2626 !important;
  color: white !important;
  border: none;
}

.customRedButton:hover {
  background: #ad1d1d !important;
  color: white !important;
  border: none;
}

.superAdminTable .ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jotFormTable .ant-table-body {
  max-height: 450px !important;
  /* overflow: hidden !important;
  overflow-x: scroll ; */
}

.jotFormTable .ant-table-thead th {
  white-space: normal;
  line-height: 1.5;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jotFormTable .ant-table-thead th span {
  display: block;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formFilters span {
  font-size: 14px !important;
}

.jNewHeader {
  display: none;
}

.ActiveReportBUtton {
  background: #3b5998;
  color: white;
}

.customHoverbutton:hover {
  color: white !important;
}


.uniformButton {
  @apply h-10 w-10 flex items-center justify-center rounded-md text-white text-sm;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  color: white !important;
  border-color: inherit !important;
  box-shadow: none !important;
}

.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus {
  color: #bfbfbf !important;
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
}

.customSidebar li {
  font-size: clamp(0.6rem, 0.9vw, 0.9rem);
}

/* .customSidebar li {
  font-size: 0.9rem;
} */


.btn-teal {
  background-color: #008080 !important;
  border-color: #008080 !important;
  color: white !important;
}

.btn-teal:hover {
  background-color: #006666 !important;
  /* darker teal */
}

.btn-blue {
  background-color: #3b5998 !important;
  color: white !important;
  border: none !important;
}

.btn-blue:hover {
  background-color: #2d4373 !important;
}

.btn-red {
  background-color: #b91c1c !important;
  color: white !important;
}

.btn-red:hover {
  background-color: #991b1b !important;
}

@media screen and (max-width:1300px) {
  .emoticonWrapper svg {
    width: 500px !important;
    height: 500px !important;
  }
}


.video-bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  background-color: black;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* Desktop (16:9) */
@media (min-width: 1025px) {
  .video-bg {
    aspect-ratio: 16 / 9;
  }
}

/* Tablets (4:3 or 3:2) */
@media (min-width: 768px) and (max-width: 1024px) {
  .video-bg {
    aspect-ratio: 4 / 3;
  }
}

/* Mobiles (9:16) */
@media (max-width: 767px) {
  .video-bg {
    aspect-ratio: 9 / 16;
  }
}

.qrCode {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: '0 0 10px rgba(0,0,0,0.1)';
}

/* Mobiles (9:16) */
@media (max-width: 767px) {
  .qrCode {
    position: absolute;
  }
}
