.btnWrapper {
  button {
    margin-bottom: 0.2rem;
    /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
    font-style: normal;
  }
}

.customTable {
  width: 100%;

  tr {
    th {
      width: 100%;
      white-space: nowrap;
      /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
      font-style: normal;
    }

    td {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 19vw;
      padding: 0 1rem;
      min-width: 100%;
      text-align: left;
      /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
      font-style: normal;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;

  button {
    width: fit-content;
    padding: 0.3rem 0.6rem;
    margin: 0.8rem 0;
    /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
    font-style: normal;

    &:first-child {
      margin-right: 0.5rem;
      padding: 0.3rem 0.8rem 0.3rem 0.6rem;
    }
  }
}


.buttonsWrapperSection {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}


.react-select-container {
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;

  .react-select {
    padding: 0.15rem !important;
    /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
    font-style: normal;
  }
}

.swal2-cancel {
  background-color: red !important;
  color: white !important;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.swal2-confirm {
  background-color: blue !important;
  color: white !important;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}


.customTableWrapper {
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;

  thead {
    th {
      white-space: nowrap;
      /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
      font-style: normal;
    }
  }

  tr {
    td {
      padding: 0.4rem 1rem;
      /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
      font-style: normal;
    }
  }

  .sticky-last-column {
    position: sticky;
    right: 0;
    background: white;
    z-index: 2;
    width: 100%;
    min-width: 8vw;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    box-sizing: border-box;
    /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
    font-style: normal;
  }

  .sticky-last-column-header {
    position: sticky;
    right: 0;
    z-index: 2;
    background: #e5e7eb;
    width: 100%;
    min-width: 8vw;
    border-bottom: 1px solid #cecece;
    box-sizing: border-box;
    /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
    font-style: normal;

  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 40vh;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

th,
td {
  box-sizing: border-box;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.customButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.customButtonWrapper .blueButtons {
  background: #3b5998;
  color: white;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.ant-table {
  .ant-table-thead {
    tr {
      .ant-table-cell {
        background: #d1d5db;
        color: white;
        /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
        font-style: normal;
        color: black;
        padding: 10px 16px;
      }
    }
  }

  .ant-table-body {
    overflow: hidden;
    overflow-x: scroll;
    /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
    font-style: normal;

    td {
      padding: 3px 16px !important;
    }
  }
}

.assignFormTable {
  .ant-table-tbody {
    .ant-table-cell {
      padding: 0.4rem 1rem !important;
      /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
      font-style: normal;
    }
  }
}

.redIcon {
  color: red !important;
}

/* Custom styles for SweetAlert2 buttons */
.confirm-btn {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.cancel-btn {
  background-color: #f0f0f0 !important;
  border-color: #dcdcdc !important;
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.ant-modal input {
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.ant-modal label {
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.ant-modal .ant-modal-title {
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
button {
  /* font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78'; */
  font-style: normal;
}

.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #3b5998;
  color: white;
  padding: 0.3rem 1rem;
  width: 55px !important;
}

.customHeaderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #3b5998;
  color: white;
  padding: 0.3rem 1rem;
  box-shadow: none !important;
}

.exportButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #3b5998;
  color: white;
  padding: 0.3rem 1rem;
  border: none !important;
  outline: none !important;
}

.exportButton:hover {
  background: #2d4373 !important;
  color: white !important;
  border: none !important;
  outline: none !important;
}

.headerButton:hover {
  background: #2d4373 !important;
}

.headerButton .ant-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination-item.ant-pagination-item-active {
  background-color: #3b5998;
  color: white;
}

.ant-pagination-item.ant-pagination-item-active:hover {
  background: #2d4373 !important;
  color: white !important;
}

.ant-pagination-item.ant-pagination-item-active:hover a {
  color: white !important;
}

.ant-pagination-item.ant-pagination-item-active a {
  color: white;
}

.tableDataWrapper {
  display: flex;
  justify-content: space-between;

  .formFilters {
    display: flex;
    gap: 5px;
  }
}

.customTableButtons:hover {
  color: white !important;
}

.customWidth {
  width: 7vw;
  height: 100%;
}

.customSearchButton {
  background: #3b5998 !important;
  color: white !important;
  border: none;

}

.customSearchButton:hover {
  background: #2d4373 !important;
  color: white !important;
  border: none;
}

.customRedButton {
  background: #DC2626 !important;
  color: white !important;
  border: none;
}

.customRedButton:hover {
  background: #ad1d1d !important;
  color: white !important;
  border: none;
}

.superAdminTable .ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .jotFormTable .ant-table-body {
  max-height: 450px !important;
} */

.jotFormTable .ant-table-thead th {
  white-space: normal;
  line-height: 1.5;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jotFormTable .ant-table-thead th span {
  display: block;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formFilters span {
  font-size: 14px;
}

.jNewHeader {
  display: none;
}

.ActiveReportBUtton {
  background: #3b5998;
  color: white;
}

.customHoverbutton:hover {
  color: white !important;
}


.uniformButton {
  @apply h-10 w-10 flex items-center justify-center rounded-md text-white text-sm;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  color: white;
  border-color: inherit;
  box-shadow: none !important;
}

.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus {
  color: #bfbfbf !important;
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
}

.customSidebar li {
  font-size: clamp(0.6rem, 0.9vw, 0.9rem);
}

/* .customSidebar li {
  font-size: 0.9rem;
} */


.btn-teal {
  background-color: #008080 !important;
  border-color: #008080 !important;
  color: white !important;
}

.btn-teal:hover {
  background-color: #006666 !important;
  /* darker teal */
}

.btn-blue {
  background-color: #3b5998 !important;
  color: white !important;
  border: none !important;
}

.btn-blue:hover {
  background-color: #2d4373 !important;
}

.btn-red {
  background-color: #b91c1c !important;
  color: white !important;
}

.btn-red:hover {
  background-color: #991b1b !important;
}


@media screen and (max-width: 650px) {
  .emoticonWrapper svg {
    width: 60px !important;
    height: 60px !important;
  }
}

@media screen and (min-width: 651px) and (max-width: 1080px) {
  .emoticonWrapper svg {
    width: 125px !important;
    height: 125px !important;
  }
}

@media screen and (min-width: 961px) and (max-width: 1300px) {
  .emoticonWrapper svg {
    width: 150px !important;
    height: 150px !important;
  }
}

@media screen and (min-width: 1301px) {
  .emoticonWrapper svg {
    width: 200px !important;
    height: 200px !important;
  }
}



.video-bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  background-color: black;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* Desktop (16:9) */
@media (min-width: 1025px) {
  .video-bg {
    aspect-ratio: 16 / 9;
  }
}

/* Tablets (4:3 or 3:2) */
@media (min-width: 768px) and (max-width: 1024px) {
  .video-bg {
    aspect-ratio: 4 / 3;
  }
}

/* Mobiles (9:16) */
@media (max-width: 767px) {
  .video-bg {
    aspect-ratio: 9 / 16;
  }
}

.surveyWrapper {
  width: 100%;
  height: 100%;
}

.qrCodeWrapper {
  display: flex;
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease-out forwards;
}

.customSUrveyHeaderCard .ant-card-body {
  padding: 1rem !important;
}

.customSendButton {
  width: 3.5rem !important;
  background: #3b5998;
  color: white;
  border: none !important;
}

.customSendButton:hover {
  background: #2e467a !important;
  color: white;
  border: none !important;
}

.customSurveyTable .ant-table tr th {
  padding: 15px 15px !important;
}

.customSurveyTable .ant-table tr td {
  padding: 10px 15px !important;
}

.swal2-popup .swal2-confirm {
  background: #3b5998 !important;
}

.swal2-popup .swal2-confirm:hover {
  background: #2e467a !important;
}

.swal2-popup .swal2-cancel {
  background: #ad1d1d !important;
}

.customTemplateButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textSendButton {
  background: #3b5998;
  color: white;
  border: none;
  min-width: 3.5rem !important;
}

.textSendButton:hover {
  background: #2d4373 !important;
  color: white !important;
}

.customInputPadding {
  padding: 0.5rem 1rem !important;
}

.customInputHorizontal {
  height: 35px;
  padding: 0 1rem !important;
}

.textSendButton {
  background: #3b5998;
  color: white;
  border: none;
  min-width: 3.5rem !important;
  height: 2.44rem;
}

.textSendButton:hover {
  background: #2d4373 !important;
  color: white !important;
}

.customCardBottom .ant-card-body {
  padding-bottom: 0.4rem !important;
}

.searchInputWidth {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .searchInputWidth {
    width: 100%;
  }

  .customCards .ant-card-body {
    padding: 15px;
  }

  .customJustifyHeader {
    justify-content: flex-end;
  }

  .customWebsiteFormWidth {
    width: 100% !important;
  }

  .customSUrveyHeaderCard .formInnerCOntainer {
    flex-direction: row !important;
  }

  .customSUrveyHeaderCard .formInnerCOntainer input {
    width: 100% !important;
  }

  .customSurveyTable .ant-table-wrapper {
    overflow: hidden;
    overflow-x: scroll;
  }

  .customJotFOrmHeader {
    max-width: 100% !important;
  }

  .customHamburger {
    top: 0.5rem !important;
  }

  .formInnerCOntainer button {
    padding: 0.36rem 1rem !important;
  }

  .filterBallsALignment {
    justify-content: center !important;
  }

  .ant-card .ant-card-body {
    padding: 10px !important;
  }

  .formFilters label {
    padding: 0.5rem !important;
  }

  .formFilters label span {
    font-size: 0.7rem !important;
  }

  .customReportModal .ant-modal-content {
    padding: 10px !important;
  }

  .reportFilterWrapper {
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }

  .reportFilterWrapper button {
    font-size: 10px !important;
  }

  .headerButton {
    width: 50px !important;
  }
}

.formFilters label {
  padding: 0.5rem 1rem;
}

.customFont {
  font-size: 0.8rem;
}

@media screen and (max-width: 1600px) {
  .customFont {
    font-size: 0.7rem !important;
  }

  .customMenuIcon svg {
    width: 1rem !important;
    height: 1rem !important;
  }
}

.customJustifyHeader {
  justify-content: flex-start;
}

.customWebsiteFormWidth {
  width: 50%;
}

.customJotFOrmHeader {
  width: 100%;
  max-width: 40vw;
}

.custompadding {
  padding-left: 3.5rem !important;
}

.filterBallsALignment {
  justify-content: flex-start;
}

@media screen and (max-width: 380px) {
  input {
    font-size: 0.75rem !important;
  }

  .formInnerCOntainer button svg {
    width: 16px !important;
    height: 16px !important;
  }
}

.customQuickActionButton {
  padding: 0;
}

.customQuickActionButton .ant-btn-icon {
  font-size: 1.2rem;
}


.HandoverMainWrapper .active-card {
  background: #EAF4FF;
  border: 1px solid #B3D4FC !important;
}

.HandoverMainWrapper .active-card .glowDot {
  box-shadow: 0 0 6px 2px rgba(82, 196, 26, 0.6);
}

.HandoverMainWrapper .inactive-card .glowDot {
  box-shadow: 0 0 6px 2px rgba(255, 77, 79, 0.6);
}

.HandoverMainWrapper .inactive-card {
  background: #F5F7FA;
  border: 1px solid #DDE3E9 !important;
}

.HandoverMainWrapper .addNoteButton {
  background: #3b5998;
  color: white;
  transition: background 0.3s ease;
}

.HandoverMainWrapper .addNoteButton:hover {
  background: #2d4373 !important;
}


.handoverModal .bottomActionSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.handoverModal .bottomActionSection button {
  background: #3b5998;
  padding: 0.5rem 2rem;
  color: white;
}

.handoverModal .bottomActionSection button:hover {
  background: #2d4373 !important;
}

.HandoverMainWrapper .customDeleteButton {
  background: #B91C1C !important;
  color: white;
  border-radius: 25px;
  padding: 0.88rem;
  border: none;
}

.HandoverMainWrapper .customEditButton {
  background: #008080 !important;
  color: white;
  border-radius: 25px;
  padding: 0.88rem;
  border: none;
}

.HandoverMainWrapper .customDeleteButton:hover {
  background: #7F1313 !important;
}

.HandoverMainWrapper .customEditButton:hover {
  background: #005959 !important;
}

.customHandoverTable .ant-table tr td:last-child {
  text-align: center;
}

.ReminderModal {
  max-width: 55vw;
}

.customCloseIcon:hover {
  color: black !important;
}

.ant-select-dropdown {
  min-width: 10vw !important;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.create-template-form {
  margin-top: 1rem;
}

.create-template-form .ant-upload-wrapper .ant-upload {
  width: 100%;
  display: flex;
}

.create-template-form .ant-upload-wrapper .ant-upload button {
  width: 100%;
}

.create-template-form .create-template-button {
  background: #3b5998;
  color: white !important;
}

.create-template-form .create-template-button:hover {
  background: #2d4373 !important;
  color: white !important;
}

.customMapForm .ant-form-item {
  margin-bottom: 0.3rem;
}

.packageModal {
  max-width: 45vw !important;
}

.image-slideshow-wrapper .ant-image {
  height: 100%;
}

.create-package-button {
  background: #3b5998;
  color: white !important;
}

.create-package-button:hover {
  background: #2d4373 !important;
  color: white !important;
}


.customPackageCard .ant-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.customHeaderButton {
  padding: 0.49rem 1rem !important;
}

.customSpace .ant-space-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customSpace svg {
  color: #10b981;
}

.clamp-2 {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.image-slideshow-wrapper .slick-prev,
.image-slideshow-wrapper .slick-next {
  top: 50% !important;
  transform: translateY(-50%) !important;
  z-index: 10;
  width: 32px;
  height: 32px;
  /* background: rgba(0, 0, 0, 0.5); */
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slideshow-wrapper .slick-prev::before,
.image-slideshow-wrapper .slick-next::before {
  font-size: 18px;
  /* color: #fff; */
  opacity: 1;
  line-height: 1;
}

.image-slideshow-wrapper .slick-prev {
  left: 8px;
}

.image-slideshow-wrapper .slick-next {
  right: 8px;
}

/* .slick-initialized {
  overflow: hidden;
  width: 100%;
  height: 280px;
}  */

.image-slideshow-wrapper .slick-initialized {
  overflow: hidden;
  width: 100% !important;
  height: 280px !important;
}


/* Add this CSS */
.view-package-modal .ant-modal {
  top: 20px !important;
  padding-bottom: 0 !important;
}

.view-package-modal .ant-modal-content {
  max-height: none !important;
}

.view-package-modal .ant-modal-body {
  max-height: none !important;
  overflow: visible !important;
}

.package-modal-carousel .ant-image {
  width: 100% !important;
  height: 100% !important;
}

.package-modal-carousel .ant-image-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.view-category-modal .ant-modal-close {
  display: none !important;
}

.customChatButton .ant-btn-icon {
  font-size: 20px;
}

.upsellMainWrapper .customRightHeaderCol .ant-space {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .upsellMainWrapper .customRightHeaderCol .customDateRangePicker {
    max-width: 240px !important;
    min-width: 200px !important;
  }
}

.upsellMainWrapper .customMultiSelect .ant-select-selector {
  border-radius: 0.375rem !important;
}

.customModalBtn {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #3b5998 !important;
  font-weight: 700;
  font-size: 11px;
}

.customUpsellCard .ant-card-body {
  padding-top: 14px;
}

.customMultiSelect .ant-select-dropdown {
  max-height: none !important;
}

.customBtn {
  background: #3b5998 !important;
  color: white !important;
  border: none;
}

.customBtn:hover {
  background: #203153 !important;
  border: none;
}


.customPaddingCards {
  padding: 0.2rem 0.5rem;
}


.customSurveyButton:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.emoticonWrapper .icon-container:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.emoticonWrapper .icon-container svg:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-select-dropdown .ant-select-item-option-content svg {
  width: 100%;
  height: auto;
  max-width: 50px;
  max-height: 50px;
  margin-right: 0.6rem;
}

.ant-select .ant-select-selector .ant-select-selection-item svg {
  width: 100%;
  height: auto;
  max-width: 20px;
  max-height: 20px;
  margin-right: 0.6rem;
}


.customIconComponent {
  width: 25px;
  height: 25px;
}

.customInputBox:hover {
  background: transparent !important;
}

.customInputBox:focus {
  background: transparent !important;
}

.customInputBox:focus-within {
  background: transparent !important;
}

.customInputBox input:focus {
  background: transparent !important;
}

.customInputBox input::placeholder {
  color: #fff !important;
  opacity: 0.7;
  /* ensure it's not dimmed */
}