.btnWrapper {
  button {
    margin-bottom: 0.2rem;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;
  }
}

.customTable {
  width: 100%;

  tr {
    th {
      width: 100%;
      white-space: nowrap;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }

    td {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 19vw;
      padding: 0 1rem;
      min-width: 100%;
      text-align: left;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;

  button {
    width: fit-content;
    padding: 0.3rem 0.6rem;
    margin: 0.8rem 0;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;

    &:first-child {
      margin-right: 0.5rem;
      padding: 0.3rem 0.8rem 0.3rem 0.6rem;
    }
  }
}


.buttonsWrapperSection {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}


.react-select-container {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;

  .react-select {
    padding: 0.15rem !important;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;
  }
}

.swal2-cancel {
  background-color: red !important;
  color: white !important;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.swal2-confirm {
  background-color: blue !important;
  color: white !important;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}


.customTableWrapper {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;

  thead {
    th {
      white-space: nowrap;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }
  }

  tr {
    td {
      padding: 0.4rem 1rem;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }
  }

  .sticky-last-column {
    position: sticky;
    right: 0;
    background: white;
    z-index: 2;
    width: 100%;
    min-width: 8vw;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    box-sizing: border-box;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;
  }

  .sticky-last-column-header {
    position: sticky;
    right: 0;
    z-index: 2;
    background: #e5e7eb;
    width: 100%;
    min-width: 8vw;
    border-bottom: 1px solid #cecece;
    box-sizing: border-box;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;

  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 40vh;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

th,
td {
  box-sizing: border-box;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.customButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.customButtonWrapper .blueButtons {
  background: #3b5998;
  color: white;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.ant-table {
  .ant-table-thead {
    tr {
      .ant-table-cell {
        background: #9ca3af;
        color: white;
        font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
        font-style: normal;
      }
    }
  }

  .ant-table-body {
    overflow: hidden;
    overflow-x: scroll;
    font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
    font-style: normal;

    td {
      padding: 3px 16px !important;
    }
  }
}

.assignFormTable {
  .ant-table-tbody {
    .ant-table-cell {
      padding: 0.4rem 1rem !important;
      font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
      font-style: normal;
    }
  }
}

.redIcon {
  color: red !important;
}

/* Custom styles for SweetAlert2 buttons */
.confirm-btn {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.cancel-btn {
  background-color: #f0f0f0 !important;
  border-color: #dcdcdc !important;
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.ant-modal input {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.ant-modal label {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.ant-modal .ant-modal-title {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
button {
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-style: normal;
}

.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #3b5998;
  color: white;
  padding: 0.3rem 1rem;
  width: 55px !important;
}

.headerButton:hover {
  background: #2d4373 !important;
}

.headerButton .ant-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination-item.ant-pagination-item-active {
  background-color: #3b5998;
  color: white;
}

.ant-pagination-item.ant-pagination-item-active a {
  color: white;
}

.tableDataWrapper {
  display: flex;
  justify-content: space-between;

  .formFilters {
    display: flex;
    gap: 5px;
  }
}

.customTableButtons:hover {
  color: white !important;
}

.customWidth {
  width: 7vw;
  height: 100%;
}

.customSearchButton {
  background: #3b5998 !important;
  color: white !important;
  border: none;

}

.customSearchButton:hover {
  background: #2d4373 !important;
  color: white !important;
  border: none;
}

.customRedButton {
  background: #DC2626 !important;
  color: white !important;
  border: none;
}

.customRedButton:hover {
  background: #ad1d1d !important;
  color: white !important;
  border: none;
}

.superAdminTable .ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}